* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Catamarano", sans-serif;
  font-weight: 500;
}

/* header */

.debug > .header {
  width: 100%;
  height: 66px;
  background-color: #0f308b;
}

.header {
  width: 100%;
  background-color: #3161e0;
  padding-top: 1rem;
}

.debug .contain_first {
  background-color: blue;
  height: 50px;
}

.contain_first {
  width: 1100px;
  margin: auto;
  height: 50px;
}

.logo {
  float: left;
  margin-right: 150px;
  margin-top: 10px;
}

ul {
  list-style: none;
  float: left;
  color: aliceblue;
}

ul li {
  display: inline-block;
  color: white;
  padding: 1rem;
}

li a {
  text-decoration: none;
  color: white;
}

.but_white_nav {
  float: right;
  padding: 0.7rem;
  margin-top: 5px;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: none;
  text-decoration: none;
}
/* /header */

/* main */

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.debug .main {
  width: 100%;
  background-color: rgb(245, 81, 122);
}

.main {
  width: 100%;
  margin: auto;
}

.hero_image {
  width: 100%;
  height: 500px;
  background-color: rgb(43, 5, 131);
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.debug .hero_text {
  background-color: blueviolet;
  margin: auto;
  padding: 50px;
}

.hero_text {
  width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  padding: 50px;
}

.hero_title {
  color: white;
  padding-bottom: 30px;
  padding-top: 60px;
}

.hero_words {
  color: white;
}

.hero_buttons {
  padding-top: 30px;
}

.arrow {
  font-weight: bold;
  color: black;
}

.but_white_Mac {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.but_black_Discord {
  margin-left: 20px;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* two_columns_one */

.debug .contain_second {
  width: 1100px;
  margin: auto;
  height: 500px;
  background-color: rgb(226, 70, 43);
}

.contain_second {
  width: 1100px;
  margin: auto;
  padding-top: 60px;
}

.debug .column_1 {
  height: 500px;
  width: 700px;
  background-color: rgb(222, 221, 135);
}

.column_1 {
  height: 500px;
  width: 700px;
}

.column_1,
.column_2 {
  float: left;
}

.debug .column_2 {
  height: 500px;
  width: 400px;
  background-color: rgb(202, 179, 240);
}

.column_2 {
  height: 500px;
  width: 280px;
  padding-top: 40px;
}

.title_one {
  width: 200px;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

/* two_columns_second */

.debug .contain_third {
  width: 1100px;
  margin: auto;
  height: 500px;
  background-color: rgb(43, 226, 217);
  margin-top: 50px;
}

.contain_third {
  width: 1100px;
  margin: auto;
  margin-top: 50px;
}

.debug .column_3 {
  height: 500px;
  width: 400px;
  background-color: rgb(239, 247, 128);
}

.column_3 {
  height: 500px;
  width: 400px;
  padding-top: 100px;
  padding-left: 20px;
}

.title_second {
  width: 300px;
  padding-bottom: 20px;
}

.caption {
  width: 300px;
}

.debug .column_4 {
  height: 500px;
  width: 700px;
  background-color: rgb(116, 219, 19);
}

.column_4 {
  height: 500px;
  width: 700px;
}

.column_3,
.column_4 {
  float: left;
}

.wave {
  width: 100%;
  height: 50px;
}

/* two_columns_third */

.contain_fourth {
  width: 1100px;
  margin: auto;
  height: 500px;
  background-color: rgb(250, 106, 81);
}

.column_5 {
  height: 500px;
  width: 700px;
  background-color: rgb(222, 221, 135);
  float: left;
}

.column_6 {
  height: 500px;
  width: 400px;
  background-color: rgb(202, 179, 240);
  float: left;
}

.wave_1 {
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
  transform: rotateX(360deg);
}

/* Quote_section */

.contain_fifth {
  width: 1100px;
  margin: auto;
  height: 600px;
  background-color: rgb(250, 106, 81);
  margin-top: 50px;
}

.top_text {
  height: 150px;
  width: 100%;
  background-color: rgb(42, 6, 126);
  float: left;
}

.top_image {
  height: 500px;
  width: 100%;
  background-color: rgb(111, 68, 211);
  float: left;
}

.item4_big {
  width: 100%;
  height: 500px;
}

.question_quote {
  height: 150px;
  width: 100%;
  background-color: rgb(22, 66, 209);
  float: left;
}

.question_quote > .stars {
  margin-left: 300px;
}

.background_gray {
  background-color: #f6f6f6;
  width: 100%;
  height: 600px;
}

.background_white {
  background-color: white;
  width: 100%;
  height: 600px;
}

/* .gray {
  height: 600px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
}

.wave {
  height: 250px;
  width: 100%;
  fill: rgb(41, 35, 35);
  padding-top: 50px;
} */

/* /main */

/* footer */

.footer {
  background-color: darkblue;
  width: 100%;
  height: 500px;
}

.contain_footer {
  background-color: rgb(112, 112, 202);
  width: 1100px;
  margin: auto;
  height: 500px;
}

/* colonne footer */

.uno {
  width: 20%;
  height: 80%;
  background-color: darkkhaki;
  float: left;
}

.italy {
  width: 20px;
}

.due {
  width: 20%;
  height: 80%;
  background-color: rgb(197, 186, 35);
  float: left;
}

.tre {
  width: 20%;
  height: 80%;
  background-color: rgb(196, 170, 22);
  float: left;
}

.quattro {
  width: 20%;
  height: 80%;
  background-color: rgb(196, 135, 22);
  float: left;
}

.cinque {
  width: 20%;
  height: 80%;
  background-color: rgb(196, 121, 22);
  float: left;
}

/* /colonne footer */

.last {
  background-color: darkmagenta;
  width: 1100px;
  margin: auto;
  height: 500px;
}
